html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: #151a2d;
  -webkit-font-smoothing: antialiased;
}

#__next {
  display: grid;
  grid-template-rows: min-content auto min-content;
  grid-template-columns: minmax(200px, 1fr);
  height: 100vh;
}
