html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background-color: #151a2d;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

#__next {
  height: 100%;
  display: grid;
  grid-template: 
    "header"
    "main" 1fr
    "footer";
}
