{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
