{
  "presets": ["react", "stage-2", ["env", {
    "targets": {
      "node": "current"
    },
  }]],
  "env": {
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }]
      ]
    },
    "browser.production": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          },
        }]
      ]
    }
  }
}
