apps/*/lib/
apps/*/dist/
node_modules/
*.pem
.env
diff_tmp.png
examples/*/package-lock.json
examples/*/pnpm-lock.yaml
apps/backend/src/screenshot-diff/util/image-diff/test/actual-files/*
/test-results/
/playwright-report/
/playwright/.cache/
screenshots/*
.cache
.turbo
tsconfig.tsbuildinfo