apps/*/lib/
apps/*/dist/
node_modules/
*.pem
.env
diff_tmp.png
examples/*/package-lock.json
apps/screenshot-diff/src/util/image-diff/test/actual-files/*
/test-results/
/playwright-report/
/playwright/.cache/
screenshots/*
.turbo
tsconfig.tsbuildinfo