language: node_js
dist: trusty
sudo: false
cache:
  directories:
    - node_modules
services:
  - postgresql
before_script:
  - createuser -s argos
  - psql -c 'CREATE DATABASE test;' -U postgres
script:
  - yarn test
  - cd packages/argos-cli && yarn && yarn test
addons:
  postgresql: '9.6'
