version: '2'
services:
  postgres:
    image: postgres:9.6
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: development
    volumes:
      - ${PWD}/db:${PWD}/db
      - ${PWD}/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
  rabbitmq:
    image: rabbitmq:3.6
    ports:
      - '15672:15672'
      - '5672:5672'
    volumes:
      - './rabbitmq/enabled_plugins:/etc/rabbitmq/enabled_plugins'
