{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]]
}
